.text1{
    margin-left: 34px;
    margin-top: 180px;
    font-weight: 600;
    font-size: 24px;
  
}
.text2{
    margin-left: 34px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}
.text3{
    margin-left: 34px;
    font-weight: 300;
    font-size: 20px;
    margin-top: 30px;
}

/* .text1, .text2, .text3{
    display :inline-block;
} */
.text4{
    float: right;
    margin-right: 200px;
    font-weight: 600;
    font-size: 20px;
    margin-top: -200px;
    
}
.knopka{
    float: right;
    margin-top: 60px;
    width: 533px;
    height: 110px;
    color: white;
    font-weight: 800;
    margin-top: -170px;
    padding-top: 30px;
    text-align: center;
    font-size: 36px;
    margin-right: 160px;
    background: linear-gradient(92.93deg, #EE0000 5.6%, #F3CF98 50.35%, #FF00C0 102.64%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
}
