.text1{
    margin-left: 113px;
    margin-top: 180px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.text2{
    margin-left: 113px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
}